todo.txt
*.jpeg
*.jpg
*.png
*.gif
*.bmp
*.tiff
*.tif
*.ico
*.svg
*.webp
*.webm
*.mp4
*.mkv
*.flv
*.avi
*.mov
*.wmv
*.mpg
*.mpeg
*.m4v
*.3gp
*.3g2
*.ogv
*.ogg
*.ogm
*.oga
*.opus
*.flac
*.mp3
*.m4a
*.aac
*.ogg
*.oga
*.wav
*.DS_Store